{
    "presets": ["env"],
    "plugins": [
        // Moeten we dan nog de dependencie toevoegen
        // Het bestaat niet in de taal dus we voegen een plugin toe
       "transform-class-properties" 
    ]
}