{{!-- pages/index.hbs --}}

{{#> layouts/base title="Styleguide | New Media Development | Artevelde University College Ghent" description="Styleguide for the course Mobile Development I" pathToRoot="../" }}

  {{#*inline "head-block"}}
  {{/inline}}

  {{#*inline "content-block"}}
    <div class="fb-grid__container">
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <div class="article">
            <h1>This is the styleguide.</h1>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}