/// Make a grid container
/// @group layout
/// @access public
/// @type Mixin
@include make-fb-grid-container();

/// Make a grid row
/// @group layout
/// @access public
/// @type Mixin
@include make-fb-grid-row();

/// Make grid columns
/// @group layout
/// @access public
/// @type Mixin
@include make-fb-grid-columns();

// Development Mode for grid
#{grid-selector('container')}.dev {
    @for $i from 1 through $grid-columns-amount {
      #{grid-selector('column')}-#{$i} {
        height: 168px;
        background: #000;
        border: 1px solid #ff0;
      }
    }
  }
