{{!-- pages/index.hbs --}}

{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

  {{#*inline "content-block"}}
    <div class="fb-grid__container">
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <div class="article">
            <h1>This heading H1 - The quick brown fox.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus in nibh ac vestibulum. Integer accumsan vestibulum efficitur. Sed non tellus orci. Donec maximus eleifend tempor. Duis molestie vehicula metus, vitae finibus ex feugiat vitae. Quisque sagittis metus id ornare ultrices. Donec laoreet urna a ligula efficitur viverra. Donec dui lectus, fermentum vulputate nunc aliquam, dictum accumsan lectus. Morbi finibus, lacus quis lobortis varius, ipsum libero porta tortor, sed cursus urna risus in elit. Aenean rutrum ante est, at molestie velit luctus vitae. Sed vel leo vel metus finibus volutpat in quis nibh. Morbi magna justo, fermentum condimentum felis posuere, placerat congue elit. Morbi rutrum luctus condimentum. Maecenas elit est, convallis quis consequat at, fringilla a libero.</p>
            <h2>This is heading H2</h2>
            <p>Duis ornare mi quis sem tincidunt dapibus a ut mauris. Curabitur sodales urna a massa tempus, id fermentum metus scelerisque. Nam arcu dolor, facilisis at odio sit amet, varius scelerisque purus. Fusce non magna commodo, feugiat sem eu, ultrices sem. Sed condimentum fermentum ultricies. Nam feugiat elementum magna, non porttitor diam pulvinar in. Integer lobortis viverra tristique. Praesent pharetra varius scelerisque. Suspendisse interdum neque metus, eu suscipit libero molestie et. Aenean malesuada rutrum felis, non fringilla felis imperdiet at. Maecenas eu aliquam eros.</p>
            <h3>This is heading H3</h3>
            <p>Curabitur ligula enim, accumsan ullamcorper purus eget, cursus lobortis arcu. Vivamus non elit efficitur, porta magna et, ullamcorper erat. Suspendisse ac neque ut arcu tristique tincidunt aliquam et mi. Ut accumsan felis vel metus efficitur efficitur. Donec blandit, urna non eleifend sodales, lacus arcu molestie libero, at lacinia mauris enim sed tortor. Aliquam maximus risus in placerat ultricies. Aenean et sem sodales, eleifend nunc et, rutrum felis. Donec id purus nibh. Integer sollicitudin, nisi vel dignissim sodales, justo ligula accumsan libero, a congue nulla est iaculis ligula. Vivamus at tristique metus, posuere condimentum dui.</p>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}