{{!-- layouts/base.hbs --}}
<!doctype html>
<html lang="nl-be" dir="ltr" prefix="og: http://ogp.me/ns#">
  <head>
    {{!-- Character encoding --}}
	  <meta charset="UTF-8"> 
	  {{!-- Latest version of rendering engine --}}
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{!-- Mobile Viewport --}}
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {{> includes/head-seo}}

    {{> includes/head-opengraph}}

    {{!-- humans.txt --}}
    <link rel="author" type="text/plain" href="/humans.txt">
    {{!-- DNS prefech for CDN --}}
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">

    {{> includes/head-icons}}

    <link rel="stylesheet" media="all" href="{{#if pathToRoot}}{{pathToRoot}}{{/if}}assets/css/main.css">

    {{#> head-block}}
      {{!-- Custom <head> content per page. --}}
    {{/head-block}}

  </head>
  <body>

    {{#> content-block}}
      {{!-- Content for the page goes here. --}}
    {{/content-block}}

    <!-- build:js assets/js/main.min.js -->
    <script src="{{#if pathToRoot}}{{pathToRoot}}{{/if}}assets/js/main.js"></script>
    <!-- endbuild -->

    {{#> scripts-block}}
      {{!-- Custom scripts per pag.e --}}
    {{/scripts-block}}

    {{> includes/google-analytics}}

  </body>
</html>